/* .title {
  text-align: center;
  margin: 20px 0;
  font-size: 2rem;
  color: #333;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.dog-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  text-align: center;
}


.dog-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.dog-name {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #555;
  font-weight: 600;
}

.dog-info {
  font-size: 1rem;
  color: #777;
  margin: 5px 0;
  line-height: 1.4;
} */
